.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #142d52;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar span {
  margin-top: 15px;
  padding: 6px 8px 6px 16px;
  align-items: center;
  display: flex;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  /* display: block; */
}

.sidebar span:hover {
  color: #f1f1f1;
}
.sidebar p {
  width: 202.82px;
  height: 32px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 4px;
  color: #9a9a9a;
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
}
.image {
  width: 120px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  /* padding: 0px 10px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin: 40px 40px 40px 240px;
  background-color: #fff;
}
.footer-main {
  margin-right: 10%;
  margin-top: 25px;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 266.34%;
  color: #827f7f;
  margin-bottom: 20px;
}
.footer-main ul {
  list-style: none;
}
.footer {
  margin-left: 200px;
  padding: 5px;
  text-align: center;
  letter-spacing: 0.24em;
  background: #f2f2f2;
  bottom: 0%;
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #8c8c8c;
}
.footer-dropDown {
  margin-right: 20px;
  border-bottom: 1px solid #e9e7e7;
  display: flex;
  justify-content: end;
  padding-bottom: 25px;
}
.footer-dropDown button {
  background: #ffff;
  color: #6d6d6d;
  width: 314px;
}
/* hedinng */
.heading {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  padding: 20px;
  font-size: 20px;
  color: #898989;

  list-style: none;
  text-decoration: none;
  border-radius: 3px 3px 0 0;
}
.haeding-btn {
  color: #898989;
  text-decoration: none;
}
.heading-btn {
  background: #06bf97;
  /* color: #fff; */
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #06bf97;
  border-radius: 3px;
}
.btn-main{
  background: #06BF97 !important;
    border: 1px solid #06BF97;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.btn-main{
  background: #06BF97 !important;
    border: 1px solid #06BF97;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.btn-main2{
  
 
    border: 1px solid #06BF97;
    border-radius: 3px;
    background-color: #fff;
    color: #06BF97;
    cursor: pointer;
}
.haedingimg {
  /* position: absolute; */
  width: 1072.6px;
  height: 74.45px;
  /* left: 326.07px;
    top: 96.68px; */

  border-radius: 5px 5px 0px 0px;
}
.main-Form {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
  background-color: #fff;
  border-radius: 5px;
  margin: 30px;
  padding: 30px;
  
}

/* mainbar */

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
